.social-links {
  display: flex;
  margin-top: 24px;
  gap: 24px;

  a {
    color: #fff;
    display: flex;
    width: 24px;
    align-items: center;
    height: 24px;

    &:hover {
      color: $color-green;
    }
  }

  svg {
    width: 24px;
    height: 24px;
  }
}
