@import "styles/settings/_settings";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: $font-family-base;
  font-size: 16px;
  font-weight: $font-weight-regular;
  line-height: 1.2;
}

body {
  padding: 0;
  margin: 0;
  color: $color-blue-gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
  font-weight: $font-weight-medium;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

a {
  color: $color-purple-400;
  text-decoration: none;
  transition: transform 250ms ease;

  &:hover {
    color: $color-purple-500;
    transform: translateY(-1px);
  }
}
