@import 'styles/settings/_settings';

.profile {
  a {
    color: $color-purple-400;
  }
}

@media (min-width: 1024px) {
  .profile {
    flex-shrink: 0;
    margin-left: -3.5rem;
  }

  .connect {
    margin-left: 3.5rem;
  }
}
// .connect a {
//   color: $color-purple-400;
// }

.content p {
  font-size: 18px;
}
