@import "styles/settings/__settings";

@import "base";

.container {
  max-width: 880px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

.container.is-lg {
  max-width: 992px;
}

.flex {
  display: flex;
}

.sb {
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

// Components
.post-content {
  a {
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }

  h2,
  h3,
  h4 {
    margin-bottom: 1.5rem;
    font-family: $font-family-heading;
  }
}

@import "components/prism";

.rehype-code-title {
  padding: 1rem;
  background-color: #ededed;
  color: #666;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: 1px solid #ededed;

  & + pre[class*="language-"] {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

// Utils
.u-wrap {
  padding: 2rem;
}

.u-flex {
  display: flex;
}

.u-flexJustifyBetween {
  justify-content: space-between;
}

.u-mb-10 {
  margin-bottom: 2.5rem; //40px
}
