@import 'styles/settings/__settings';

@import 'base';

.container {
  max-width: 880px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

.container.is-lg {
  max-width: 992px;
}

.flex {
  display: flex;
}

.sb {
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

// Components
@import 'components/post';
@import 'components/prism';
@import 'components/social';

// Layout
.wrap-hero-icons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.8rem;
  align-items: flex-start;
  gap: 1.4rem;
}

@media (min-width: 520px) {
  .wrap-hero-icons {
    flex-direction: row;
    align-items: center;
  }
}

// Utils
.u-wrap {
  padding: 2rem;
}

.u-flex {
  display: flex;
}

@media (min-width: 1024px) {
  .u-flex-md {
    display: flex;
  }
}

.u-flexJustifyBetween {
  justify-content: space-between;
}

.u-mb-10 {
  margin-bottom: 2.5rem; //40px
}

code:not(.code-highlight) {
  padding: 2px 4px;
  border-radius: 4px;
  background: #eee;
  color: $color-purple-400;
}

.gap-8 {
  gap: 2rem;
}
