@import "styles/settings/__settings";

@import "base";

.container {
  max-width: 880px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

.container.is-lg {
  max-width: 992px;
}

.flex {
  display: flex;
}

.sb {
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

// Components
@import "components/post";
@import "components/prism";

// Utils
.u-wrap {
  padding: 2rem;
}

.u-flex {
  display: flex;
}

.u-flexJustifyBetween {
  justify-content: space-between;
}

.u-mb-10 {
  margin-bottom: 2.5rem; //40px
}
