@import "styles/settings/_settings";

.hero {
  background-color: $color-purple-500;
  color: white;
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  max-width: 62rem;
  margin: 0 auto 3.5rem;
  padding: 3.5rem 2rem;

  h1,
  h2,
  p {
    margin: 0;
  }

  p {
    font-size: 1.5rem;
    color: $color-green;
  }

  h1 {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 700;
  }

  h2 {
    font-size: 1.75rem;
    font-weight: 400;
    max-width: 37.5rem;
  }

  @media (min-width: 64rem) {
    & {
      padding: 6.25rem 3.5rem;
      // padding-bottom: 6.25rem;
      border-radius: 0.5rem;
    }
  }
}
