@import 'styles/settings/_settings';

.project-grid {
  border: 1px solid $color-gray-100;
}

.project {
  display: flex;
  flex-direction: column-reverse;

  border-bottom: 1px solid $color-gray-100;

  &:last-child {
    border-bottom: none;
  }

  .content {
    padding: 24px;
  }

  &__description {
    display: flex;
    align-items: center;
    max-width: 335px;
    flex: 1;
  }

  .wrap_image {
    background-color: #dcf7e7;

    &:hover .image_container {
      scale: 1;
      transform: translate(0);
      box-shadow: 0 0 20px rgba($color-purple-400, 0.3);
    }
  }

  .image_container {
    scale: 0.87;
    // transform: translateY(22px);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  .image {
    object-fit: cover;
    object-position: center;
  }
}

.project_tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  span {
    display: block;
    background: rgba($color-purple-400, 0.1);
    color: $color-purple-400;
    font-size: 10px;
    line-height: 24px;
    text-transform: uppercase;
    height: 24px;
    padding: 0 8px;
    border-radius: 4px;
    white-space: nowrap;
  }
}

@media (min-width: 900px) {
  .project {
    flex-direction: row;

    &__description {
      max-width: none;
    }

    .wrap_image {
      max-width: 544px;
    }
  }
}
// .connect a {
//   color: $color-purple-400;
// }

// .content p {
//   font-size: 18px;
// }
