@import "styles/settings/__settings";

.main {
  padding: 2rem;
}

.brand {
  width: 3.625rem;
  height: 1.625rem;

  a {
    display: block;
    width: 3.625rem;
    height: 1.625rem;
  }
}
.menu {
  gap: 1rem;

  a {
    color: $color-gray;
    font-size: 1rem;
    transition: transform 250ms ease;

    &:hover {
      color: $color-blue-gray;
      transform: translateY(-1px);
    }
  }

  @media (min-width: 48rem) {
    gap: 2.5rem;
  }
}
