@import 'styles/settings/__settings';

.main {
  padding: 2rem;
}

.brand {
  width: 3.625rem;
  height: 1.625rem;

  a {
    display: block;
    width: 3.625rem;
    height: 1.625rem;
  }
}

.menu {
  gap: 1rem;

  a {
    color: $color-gray;
    font-weight: $font-weight-medium;
    font-size: 1rem;

    &:hover {
      color: $color-green;
    }

    &.active {
      color: $color-green;
    }
  }

  @media (min-width: 48rem) {
    gap: 2.5rem;
  }
}
