@import "styles/settings/_settings";

.main {
  margin-bottom: 2.5rem;

  & {
    h3 {
      margin: 0 0 1rem;
      font-weight: $font-weight-medium;
    }
  }

  & a {
    color: $color-blue-gray;

    &:hover {
      color: $color-purple-500;
    }
  }
}

.header {
  margin-bottom: 3.75rem;
  & {
    h1 {
      font-weight: $font-weight-bold;
      margin: 0;
      margin-bottom: 0.625rem;
    }
  }
}

.meta {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  img {
    margin-right: 0.75rem;
    border-radius: 50%;
  }

  li {
    color: $color-gray;
    display: inline-flex;
    align-items: center;
    font-family: $font-family-heading;

    &:not(:first-child) {
      padding-left: 1.5rem;
    }

    &:not(:first-child)::before {
      content: "•";
      display: inline-block;
      transform: translateX(-0.75rem);
    }
  }
}
